In [1]:
import pandas as pd
pd.set_option('display.max_columns',None)
directory='C:\\Users\\ivanc\\OneDrive\\Documents\\Master Data Science\\Amadeus Challenge\\'
s_file=directory + 'searches.csv.bz2'
b_file=directory + 'bookings.csv.bz2'

In [3]:
s = pd.read_csv(s_file, sep='^', chunksize=2000000, low_memory=False, dtype=str )
all_chunks = pd.DataFrame()
for i, chunk in enumerate(s):
    all_chunks = all_chunks.append(chunk)
    all_chunks.drop_duplicates(inplace=True)
    print (i, len(all_chunks))

all_chunks.to_csv(directory + 'searches_no_dup.csv', sep='^', index=False)

0 359003
1 359003
2 359003
3 359003
4 359003
5 359003
6 359003
7 359003
8 359003
9 359003
10 359004

In [5]:
b = pd.read_csv(b_file, sep='^', chunksize=2000000, low_memory=False, dtype=str )
all_chunks = pd.DataFrame()
for i, chunk in enumerate(b):
    all_chunks = all_chunks.append(chunk)
    all_chunks.drop_duplicates(inplace=True)
    print (i, len(all_chunks))

all_chunks.to_csv(directory + 'Bookings_no_dup.csv', sep='^', index=False)

0 1000000
1 1000000
2 1000003
3 1000003
4 1000003
5 1000003

In [10]:
s_nodup = directory + 'searches_no_dup.csv'
b_nodup = directory + 'Bookings_no_dup.csv'

In [52]:
b = pd.read_csv(b_nodup, sep='^', usecols=['dep_port', 'arr_port', 'cre_date           ' ])
b.rename(columns=lambda x: x.strip(), inplace=True)
b.dep_port=b.dep_port.str.strip()
b.arr_port=b.arr_port.str.strip()
b.drop_duplicates(inplace=True)
b.cre_date=b.cre_date.str[:10]
b['Booked']=1

In [53]:
b

           cre_date dep_port arr_port  Booked
0        2013-02-22      ZRH      LHR       1
1        2013-03-26      SAL      CLT       1
3        2013-03-26      AKL      SVO       1
5        2013-03-20      DEN      LGA       1
7        2013-03-25      NRT      SIN       1
...             ...      ...      ...     ...
999989   2013-05-14      POM      MEL       1
999991   2013-05-28      MEM      LAS       1
1000000  2013-03-26      AKL      SVO       1
1000001          60       JP       SG       1
1000002  2013-03-25      TYO      SIN       1

[334877 rows x 4 columns]

In [50]:
s = pd.read_csv(s_nodup, sep='^', low_memory=False)
s['Date_time'] = s['Date'] +' '+ s['Time']

In [45]:
b.columns

Index(['cre_date', 'dep_port', 'arr_port', 'Booked'], dtype='object')

In [63]:
s_b= s.merge(b, how='left', left_on=['Date','Origin','Destination'],right_on=['cre_date', 'dep_port', 'arr_port'])
s_b.drop(['cre_date', 'dep_port', 'arr_port'],axis='columns', inplace=True)

In [64]:
len(s), len(s_b)

(359004, 359004)

In [65]:
s_b[s_b['Booked']==1].head()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,Seg1Arrival,Seg1Date,Seg1Carrier,Seg1BookingCode,Seg2Departure,Seg2Arrival,Seg2Date,Seg2Carrier,Seg2BookingCode,Seg3Departure,Seg3Arrival,Seg3Date,Seg3Carrier,Seg3BookingCode,Seg4Departure,Seg4Arrival,Seg4Date,Seg4Carrier,Seg4BookingCode,Seg5Departure,Seg5Arrival,Seg5Date,Seg5Carrier,Seg5BookingCode,Seg6Departure,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice,Date_time,Booked
27,2013-01-01,18:33:28,CCP,3565e31495ecfd46fa018339d20382b1,SA,RUH,JED,0.0,1.0,RUH,JED,2013-01-04,KP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,JED,2013-01-01 18:33:28,1.0
40,2013-01-01,06:36:57,FFP,86f167b84e77346849f9439ae87c02a6,SA,DMM,MNL,1.0,2.0,DMM,MNL,2013-06-01,OJ,NaN,MNL,DMM,2013-06-30,OJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,JED,2013-01-01 06:36:57,1.0
59,2013-01-01,07:00:38,FQD,e8741eaf2fa2f71f931475d18fa72096,US,ATL,MIA,0.0,1.0,ATL,MIA,2013-01-10,NV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SEA,2013-01-01 07:00:38,1.0
134,2013-01-01,23:30:44,MPT,5215502d9524c3183f3839b0d9a5e4f9,AU,MEL,SYD,0.0,1.0,MEL,SYD,2013-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SYD,2013-01-01 23:30:44,1.0
172,2013-01-01,18:34:27,MPT,fd4afff0035bec8f8e305d38804c33f6,IN,BOM,JED,1.0,2.0,BOM,JED,2013-01-26,NaN,NaN,JED,BOM,2013-01-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,DEL,2013-01-01 18:34:27,1.0

In [66]:
s_b.Booked.fillna(0, inplace=True)

In [69]:
s_b.to_csv(directory + 'Searches_with_bookings.csv',sep='^', index=False)