In [1]:
import pandas as pd

In [3]:
df = pd.read_json("http://127.0.0.1:5000/ret_number/100")

In [5]:
df.head()

   Unnamed: 0 arr_port    pax                            AirportName
0           0      LHR  88809                London Heathrow Airport
1           1      MCO  70930          Orlando International Airport
2           2      LAX  70530      Los Angeles International Airport
3           3      LAS  69630         McCarran International Airport
4           4      JFK  66270  John F. Kennedy International Airport